@import url('https://fonts.googleapis.com/css?family=Work Sans');
@import url('https://fonts.googleapis.com/css?family=Tajawal');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Open Sans');

/* General */

body {
    font-family: "Open Sans", sans-serif;
    background-color: #FFF;
    margin: auto;
    overflow-x: hidden;
}

/* Popover Styling */

.popover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1060;
    display: block;
    max-width: 276px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    text-align: start;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    word-break: normal;
    word-spacing: normal;
    white-space: normal;
    line-break: auto;
    font-size: 0.875rem;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
  }
  
  .popover .arrow {
    position: absolute;
    display: block;
    width: 1rem;
    height: 0.5rem;
    margin: 0 0.3rem;
  }
  
  .popover .arrow::before, .popover .arrow::after {
    position: absolute;
    display: block;
    content: "";
    border-color: transparent;
    border-style: solid;
  }
  
  .bs-popover-top, .bs-popover-auto[x-placement^="top"] {
    margin-bottom: 0.5rem;
  }
  
  .bs-popover-top > .arrow, .bs-popover-auto[x-placement^="top"] > .arrow {
    bottom: calc(-0.5rem - 1px);
  }
  
  .bs-popover-top > .arrow::before, .bs-popover-auto[x-placement^="top"] > .arrow::before {
    bottom: 0;
    border-width: 0.5rem 0.5rem 0;
    border-top-color: rgba(0, 0, 0, 0.25);
  }
  
  .bs-popover-top > .arrow::after, .bs-popover-auto[x-placement^="top"] > .arrow::after {
    bottom: 1px;
    border-width: 0.5rem 0.5rem 0;
    border-top-color: #fff;
  }
  
  .bs-popover-right, .bs-popover-auto[x-placement^="right"] {
    margin-left: 2rem;
  }
  
  .bs-popover-right > .arrow, .bs-popover-auto[x-placement^="right"] > .arrow {
    left: calc(-0.5rem - 1px);
    width: 0.5rem;
    height: 1rem;
    margin: 0.3rem 0;
  }
  
  .bs-popover-right > .arrow::before, .bs-popover-auto[x-placement^="right"] > .arrow::before {
    left: 0;
    border-width: 0.5rem 0.5rem 0.5rem 0;
    border-right-color: rgba(0, 0, 0, 0.25);
  }
  
  .bs-popover-right > .arrow::after, .bs-popover-auto[x-placement^="right"] > .arrow::after {
    left: 1px;
    border-width: 0.5rem 0.5rem 0.5rem 0;
    border-right-color: #fff;
  }
  
  .bs-popover-bottom, .bs-popover-auto[x-placement^="bottom"] {
    margin-top: 0.5rem;
  }
  
  .bs-popover-bottom > .arrow, .bs-popover-auto[x-placement^="bottom"] > .arrow {
    top: calc(-0.5rem - 1px);
  }
  
  .bs-popover-bottom > .arrow::before, .bs-popover-auto[x-placement^="bottom"] > .arrow::before {
    top: 0;
    border-width: 0 0.5rem 0.5rem 0.5rem;
    border-bottom-color: rgba(0, 0, 0, 0.25);
  }
  
  .bs-popover-bottom > .arrow::after, .bs-popover-auto[x-placement^="bottom"] > .arrow::after {
    top: 1px;
    border-width: 0 0.5rem 0.5rem 0.5rem;
    border-bottom-color: #fff;
  }
  
  .bs-popover-bottom .popover-header::before, .bs-popover-auto[x-placement^="bottom"] .popover-header::before {
    position: absolute;
    top: 0;
    left: 50%;
    display: block;
    width: 1rem;
    margin-left: -0.5rem;
    content: "";
    border-bottom: 1px solid #f7f7f7;
  }
  
  .bs-popover-left, .bs-popover-auto[x-placement^="left"] {
    margin-right: 2rem;
  }
  
  .bs-popover-left > .arrow, .bs-popover-auto[x-placement^="left"] > .arrow {
    right: calc(-0.5rem - 1px);
    width: 0.5rem;
    height: 1rem;
    margin: 0.3rem 0;
  }
  
  .bs-popover-left > .arrow::before, .bs-popover-auto[x-placement^="left"] > .arrow::before {
    right: 0;
    border-width: 0.5rem 0 0.5rem 0.5rem;
    border-left-color: rgba(0, 0, 0, 0.25);
  }
  
  .bs-popover-left > .arrow::after, .bs-popover-auto[x-placement^="left"] > .arrow::after {
    right: 1px;
    border-width: 0.5rem 0 0.5rem 0.5rem;
    border-left-color: #fff;
  }
  
  .popover-header {
    padding: 0.5rem 0.75rem;
    margin-bottom: 0;
    font-size: 1rem;
    background-color: #f7f7f7;
    border-bottom: 1px solid #ebebeb;
    border-top-left-radius: calc(0.3rem - 1px);
    border-top-right-radius: calc(0.3rem - 1px);
  }
  
  .popover-header:empty {
    display: none;
  }
  
  .popover-body {
    padding: 0.5rem 0.75rem;
    color: #212529;
  }

/* PhotoInput Styling */

.photo-input {
    margin-right: 14px;
    /* margin-left: 1px; */
    float: left;
    width: 89px;
    height: 80px;
    background-color: #cbd2d7;
    border: 1px dashed #aaa;
    border-radius: 3px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.first-photo .photo-input {
    margin-left: 0.5px;
}

.last-photo .photo-input {
    margin-right: 0px !important;
}


.last-photo .photo-input {
    margin-right: 0px;
}

.photo-input:hover {
    cursor: pointer;
}

.photo-input img {
    max-width: 95%;
    max-height: 95%;
}

.photo-input input {
    display: none;
}

/* Form Styling */

.rect {
    background-color: #FFF;
    width: 500px;
    margin: auto;
    border-radius: 15px;
    padding-top: 15px;
    padding-bottom: 30px;
}

.rect h3 {
    text-align: center;
    font-size: 22px;
    padding-bottom: 20px;
}

.rect .Email {
    margin: 0 40px 20px;
    width: 84%;
}

.rect .Password {
    margin: 0 40px 20px;
    width: 84%;
}

.rect .FirstName {
    margin-left: 40px;
    width: 38%;
}

.rect .LastName {
    margin-left: 40px;
    width: 38%;
}


.rect input[type="submit"] {
    display: block;
    margin: 0 auto;
    width: 85%;
    border: none;
    outline: none;
    padding: 16px;
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
    background: #3e78ad;
    color: #fff;
    font-weight: bold;
    border-radius: 8px;
}

.rect input[type="submit"]:hover {
    cursor: pointer;
    background: #24496b;
}

.rect input[type="submit"]:active {
    cursor: pointer;
    background: #3e78ad;
}

.rect img{
    display: block;
    margin: 0 auto;
    width: 150px;   
}

/* NavBar Styling */

.nav {
    background: #1b262c;
    position: sticky;
    top: 0;
    padding-left: 150px;
    padding-right: 150px;

}

.nav::after {
    content: '';
    display: table;
    clear: both;
}

.nav .logo {
    float: left;
    padding: 0px;
    width: 90px;
    height: 76.37px;
    
}

.nav .nav-list {
    float: right !important;
}

.nav .nav-list ul {
    margin:0;
    padding:0;
    list-style: none;
}

.nav .nav-list ul li {
    display: inline-block;
    margin-left: 40px;
    padding-top: 27px;
    position: relative;
}

.nav .nav-list ul li a {
    color: #f2f6f7;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

.nav .nav-list li:hover {
    color: #9da0a1;
}

.nav .nav-list li::before {
    content:"";
    display: block;
    height: 5px;
    width: 0%;
    background-color: #f2f6f7;
    top: 5px;
    position: absolute;
    transition: all ease-in-out 200ms; 
}

.nav .nav-list li:hover::before {
    width: 100%;
    
}

.nav .langpick select option {
    background-color: #1b262c;
}


.nav .langpick select{
    background-color: transparent;
    border: none;
    font-size: 18px;
    outline: none;
    font-family: 'Tajawal', sans-serif;
    width: 100px;
    color: #FFF;
    text-align: center;
    text-align-last: center;
}



.arabic {
    font-family: "Tajawal", sans-serif;
}

/* Home Page Styling */

.Home {
    font-family: "Open Sans", sans-serif;
    background-color: #FFF;
    
}

.Home .main {
    min-height: 100vh;
    display: block;
    position: relative;
    padding-bottom: 60px;
}
.Home .header {
    background-color: #FF385C;
    color: white;
    text-align: center;
    font-family: "Work Sans", sans-serif;
    padding: 150px;
}

.Home .header h1 {

    font-size: 85px;
    font-family: 'Open Sans', sans-serif;

}

.Home .header h3 {

    font-size: larger;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;


}

.Home .footer {
    background-color: #F7F7F7;
    text-align: left;
    padding: 20px;
    clear: both;
    color: black;
    font-style: inherit;
    padding-left: 150px;
    padding-right: 150px;
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top-width: 1px;
    border-top-color: #e3e1e1;
    border-top-style: solid;
}


.Home .content, .Home .header {
    padding-left: 150px;
    padding-right: 150px;
}

.Home .content {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: justify;
}

/* Lang Page Styling */

.Lang {
    font-family: "Open Sans", sans-serif;
    background-color: #FF385C;
    color: white;
    text-align: center;
    min-height: 100vh;
}

.Lang h1 {

    font-size: 96px;
    font-family: 'Open Sans', sans-serif;

}

.Lang h3 {

    font-size: larger;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
}

.Lang .arabic {
    
    font-family: "Tajawal", sans-serif;
}

.Lang .langmain {
    padding-top: 130px;
}


.Lang .logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    height: 10%;
    
}

.Lang .langpick {
    padding: 90px;
}

.Lang .langpick select {
    padding: 10px;
    padding-left: 20px;
    width: 200px;
    background: #FFF;
    border: none;
    font-size: 18px;
    outline: none;
    text-align: left;
    text-align-last: left;
    font-family: 'Tajawal', sans-serif;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/c/c4/Globe_icon.svg/768px-Globe_icon.svg.png");
    background-repeat: no-repeat, repeat;
	background-position: right 1.15em top 50%, 0 0;
	background-size: .95em auto, 100%;
    -webkit-appearance: none; 
    }
    
    
/*Login page styling*/


.Login {
    font-family: "Open Sans", sans-serif;
    background-color: #FFF;
    margin: auto;
}


.Login .main {
    min-height: 100vh;
    position: relative;
    background-color: #FF385C;
    display: block;
}

.Login .content {
    padding-top: 170px; 
}

/* Signup Page Styling */

.Signup .main {
    min-height: 100vh;
    position: relative;
    background-color: #FF385C;
    display: block;
}

.Signup .content {
    padding-top: 100px; 
}


/* List Page Styling */


.List .main {
    min-height: 100vh;
    display: block;
    position: relative;
    padding-bottom: 60px;

}
.List .header {
    background-color: #FF385C;
    color: white;
    text-align: center;
    font-family: "Work Sans", sans-serif;
    padding: 75px;
}

.List .header h1 {

    font-size: 36px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    /*text-transform: capitalize;*/
}

.List .footer {
    background-color: #F7F7F7;
    text-align: left;
    padding: 20px;
    clear: both;
    color: black;
    font-style: inherit;
    padding-left: 150px;
    padding-right: 150px;
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top-width: 1px;
    border-top-color: #e3e1e1;
    border-top-style: solid;
}

.List .content, .List .header {
    padding-left: 150px;
    padding-right: 150px;
}

.List table {
    padding-top: 35px;
    margin-left: auto;
    margin-right: auto;
    
}

.List .label {
    padding-right: 16px;
    font-weight: normal;
    font-size: 22px;
    color: #484848;
}

.List td {
    padding: 5px;
    margin-top: 3px;
}

.List input[type="text"] {
    height: 30px;
    font-size: 17px;
    font-family: "Open Sans", sans-serif;
    border-radius: 9px;
    outline: none;
    border: 1px solid;
    padding-left: 5px;
    border-color: #bababa;
    margin-bottom: 20px;
    width: 100%;
}

.List textarea {
    font-size: 17px;
    font-family: "Open Sans", sans-serif;
    border-radius: 9px;
    outline: none;
    border: 1px solid;
    padding-left: 5px;
    border-color: #bababa;
    margin-bottom: 20px;
    resize: none;
    padding-top: 5px;
    width: 100%;
}

.List .photos {
    margin-bottom: 100px;
}
.List select {
    background: #FFF;
    border: 1px solid;
    border-radius: 6px;
    font-size: 20px;
    font-family: 'Tajawal', sans-serif;
    width: 101.7%;
    color: #000;
    text-align: center;
    text-align-last: center;
    height: 35px;
    border-color: #bababa;
    margin-bottom: 20px;
}

.List select option {
    background-color: #fff;
}

.List hr {
    width: 150%;
    margin-left: -25%;
    margin-bottom: 25px;
}


.List span {
    vertical-align: super; 
    font-size: small;    
}

.List .size {
    width: 92%;
}

.List .m2 {
    position: absolute;
    margin-left: -40px;
    margin-top: -16px;
    font-size: 18px;
}

.List .price {
    width: 80%;
}

.List .egp {
    position: absolute;
    margin-left: -100px;
    margin-top: -10px;
    font-size: 16px;
}

.List input[type="submit"] {
    display: block;
    margin: 0 auto;
    border: none;
    outline: none;
    padding: 16px;
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
    background: #FF385C;
    color: #fff;
    font-weight: bold;
    border-radius: 8px;
    width: 100%;
    margin-bottom: 30px;
}

.List input[type="submit"]:hover {
    cursor: pointer;
    background: #f55f7b;
}

.List input[type="submit"]:active {
    cursor: pointer;
    background: #FF385C;
}

/* Styling for Find Page */

.Find .main {
    min-height: 100vh;
    display: block;
    position: relative;
    padding-bottom: 60px;

}
.Find .header {
    background-color: #FF385C;
    color: white;
    text-align: center;
    font-family: "Work Sans", sans-serif;
    padding: 75px;
}

.Find .header h1 {

    font-size: 36px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    /*text-transform: capitalize;*/
}

.Find .footer {
    text-align: left;
    padding: 20px;
    clear: both;
    color: black;
    font-style: inherit;
    padding-left: 150px;
    padding-right: 150px;
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top-width: 1px;
    border-top-color: #e3e1e1;
    border-top-style: solid;
}

.Find .content, .Find .header {
    padding-left: 150px;
    padding-right: 150px;
}


.Find .filter {
    background: #F7F7F7;
    border-bottom: 3px #e3e1e1 solid;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 20px;
    position: sticky;
    top: 76.36px;
    margin-bottom: 80px;
}


.Find .filter input[type="text"] {
    display: block;
    width: 450px;
    height: 30px;
    padding-left: 10px;
    font-size: 20px;
    border: 1px solid;
    border-radius: 6px;
    outline: none;
    border: 1px solid #bababa;
}

.Find .filter tr {
    margin-bottom: 20px;
    display: block;
}

.Find .filter select{
    margin-right: 70px;
    background: #FFF;
    border: 1px solid;
    border-radius: 6px;
    font-size: 18px;
    font-family: 'Tajawal', sans-serif;
    color: #000;
    text-align: left;
    text-align-last: left;
    padding-left: 4px;
    height: 35px;
    border-color: #bababa;
    width: 200px;
}

.Find .filter table {
    margin-left: auto;
    margin-right: auto;
}

.Find .filter input[type="submit"] {
    display: block;
    border: none;
    margin: 0 auto;
    outline: none;
    padding: 10px;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    background: #FF385C;
    color: #fff;
    font-weight: bold;
    border-radius: 8px;
    width: 180px;
}

.Find .filter input[type="submit"]:hover {
    cursor: pointer;
    background: #f55f7b;
}

.Find .filter input[type="submit"]:active {
    cursor: pointer;
    background: #FF385C;
}
.Find .results .item {
    background: #e5e5e5;
    padding: 20px 20px;
    margin-bottom: 50px;
    border-radius: 5px;
    
}

.Find .results .item:hover {
    background: #bababa;
}

.Find .results .item:active {
    background: #e5e5e5;
}
.Find .results a {
    text-decoration: none;
    color: #000;
}

.Find .results .item-description {
    margin-right: 15px;
}